{
  "openapi": "3.0.1",
  "info": {
    "title": "GROWI REST API v3",
    "version": "7.2.6-RC.0"
  },
  "servers": [
    {
      "url": "https://demo.growi.org/_api/v3"
    }
  ],
  "security": [
    {
      "bearer": [],
      "accessTokenInQuery": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Access token generated by each GROWI users"
      },
      "accessTokenInQuery": {
        "type": "apiKey",
        "name": "access_token",
        "in": "query",
        "description": "Access token generated by each GROWI users"
      },
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "connect.sid"
      },
      "transferHeaderAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-growi-transfer-key"
      }
    },
    "schemas": {
      "SyncStatus": {
        "type": "object",
        "properties": {
          "isExecutingSync": {
            "type": "boolean"
          },
          "totalCount": {
            "type": "number"
          },
          "count": {
            "type": "number"
          }
        }
      },
      "ActivityResponse": {
        "type": "object",
        "properties": {
          "serializedPaginationResult": {
            "type": "object",
            "properties": {
              "docs": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "example": "67e33da5d97e8d3b53e99f95"
                    },
                    "id": {
                      "type": "string",
                      "example": "67e33da5d97e8d3b53e99f95"
                    },
                    "ip": {
                      "type": "string",
                      "example": "::ffff:172.18.0.1"
                    },
                    "endpoint": {
                      "type": "string",
                      "example": "/_api/pages.remove"
                    },
                    "targetModel": {
                      "type": "string",
                      "example": "Page"
                    },
                    "target": {
                      "type": "string",
                      "example": "675547e97f208f8050a361d4"
                    },
                    "action": {
                      "type": "string",
                      "example": "PAGE_DELETE_COMPLETELY"
                    },
                    "snapshot": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string",
                          "example": "growi"
                        },
                        "_id": {
                          "type": "string",
                          "example": "67e33da5d97e8d3b53e99f96"
                        }
                      }
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-03-25T23:35:01.584Z"
                    },
                    "__v": {
                      "type": "integer",
                      "example": 0
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string",
                          "example": "669a5aa48d45e62b521d00e4"
                        },
                        "isGravatarEnabled": {
                          "type": "boolean",
                          "example": false
                        },
                        "isEmailPublished": {
                          "type": "boolean",
                          "example": true
                        },
                        "lang": {
                          "type": "string",
                          "example": "ja_JP"
                        },
                        "status": {
                          "type": "integer",
                          "example": 2
                        },
                        "admin": {
                          "type": "boolean",
                          "example": true
                        },
                        "readOnly": {
                          "type": "boolean",
                          "example": false
                        },
                        "isInvitationEmailSended": {
                          "type": "boolean",
                          "example": false
                        },
                        "isQuestionnaireEnabled": {
                          "type": "boolean",
                          "example": true
                        },
                        "name": {
                          "type": "string",
                          "example": "Taro"
                        },
                        "username": {
                          "type": "string",
                          "example": "grow"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2024-07-19T12:23:00.806Z"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-03-25T23:34:04.362Z"
                        },
                        "__v": {
                          "type": "integer",
                          "example": 0
                        },
                        "imageUrlCached": {
                          "type": "string",
                          "example": "/images/icons/user.svg"
                        },
                        "lastLoginAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2025-03-25T23:34:04.355Z"
                        },
                        "email": {
                          "type": "string",
                          "example": "test@example.com"
                        }
                      }
                    }
                  }
                }
              },
              "totalDocs": {
                "type": "integer",
                "example": 3
              },
              "offset": {
                "type": "integer",
                "example": 0
              },
              "limit": {
                "type": "integer",
                "example": 10
              },
              "totalPages": {
                "type": "integer",
                "example": 1
              },
              "page": {
                "type": "integer",
                "example": 1
              },
              "pagingCounter": {
                "type": "integer",
                "example": 1
              },
              "hasPrevPage": {
                "type": "boolean",
                "example": false
              },
              "hasNextPage": {
                "type": "boolean",
                "example": false
              },
              "prevPage": {
                "type": "integer",
                "nullable": true,
                "example": null
              },
              "nextPage": {
                "type": "integer",
                "nullable": true,
                "example": null
              }
            }
          }
        }
      },
      "SystemInformationParams": {
        "type": "object",
        "properties": {
          "growiVersion": {
            "type": "string",
            "description": "GROWI version or '-'",
            "example": "7.1.0-RC.0"
          },
          "nodeVersion": {
            "type": "string",
            "description": "node version or '-'",
            "example": "20.2.0"
          },
          "npmVersion": {
            "type": "string",
            "description": "npm version or '-'",
            "example": "9.6.6"
          },
          "pnpmVersion": {
            "type": "string",
            "description": "pnpm version or '-'",
            "example": "9.12.3"
          },
          "envVars": {
            "type": "object",
            "description": "environment variables",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "FILE_UPLOAD": "mongodb",
              "APP_SITE_URL": "http://localhost:3000",
              "ELASTICSEARCH_URI": "http://elasticsearch:9200/growi",
              "ELASTICSEARCH_REQUEST_TIMEOUT": 15000,
              "ELASTICSEARCH_REJECT_UNAUTHORIZED": true,
              "OGP_URI": "http://ogp:8088",
              "QUESTIONNAIRE_SERVER_ORIGIN": "http://host.docker.internal:3003"
            }
          },
          "isV5Compatible": {
            "type": "boolean",
            "description": "This value is true if this GROWI is compatible v5.",
            "example": true
          },
          "isMaintenanceMode": {
            "type": "boolean",
            "description": "This value is true if this site is maintenance mode.",
            "example": false
          }
        }
      },
      "InstalledPluginsParams": {
        "type": "object",
        "properties": {
          "installedPlugins": {
            "type": "object",
            "description": "installed plugins"
          }
        }
      },
      "AppSettingParams": {
        "description": "AppSettingParams",
        "type": "object",
        "properties": {
          "azureReferenceFileWithRelayMode": {
            "type": "boolean",
            "example": false
          },
          "azureUseOnlyEnvVars": {
            "type": "boolean",
            "example": false
          },
          "confidential": {
            "type": "string",
            "description": "confidential show on page header",
            "example": "GROWI"
          },
          "envAzureClientId": {
            "type": "string",
            "example": "AZURE_CLIENT_ID"
          },
          "envAzureClientSecret": {
            "type": "string",
            "example": "AZURE_CLIENT_SECRET"
          },
          "envAzureStorageAccountName": {
            "type": "string",
            "example": "AZURE_STORAGE_ACCOUNT_NAME"
          },
          "envAzureStorageContainerName": {
            "type": "string",
            "example": "AZURE_STORAGE_CONTAINER_NAME"
          },
          "envFileUploadType": {
            "type": "string",
            "example": "mongodb"
          },
          "envGcsApiKeyJsonPath": {
            "type": "string",
            "example": "GCS_API_KEY_JSON_PATH"
          },
          "envGcsBucket": {
            "type": "string",
            "example": "GCS_BUCKET"
          },
          "envGcsUploadNamespace": {
            "type": "string",
            "example": "GCS_UPLOAD_NAMESPACE"
          },
          "envSiteUrl": {
            "type": "string",
            "example": "http://localhost:3000"
          },
          "fileUpload": {
            "type": "boolean",
            "example": true
          },
          "fileUploadType": {
            "type": "string",
            "example": "local"
          },
          "fromAddress": {
            "type": "string",
            "example": "info@growi.org"
          },
          "gcsApiKeyJsonPath": {
            "type": "string",
            "example": "GCS_API_KEY_JSON_PATH"
          },
          "gcsBucket": {
            "type": "string",
            "example": "GCS_BUCKET"
          },
          "gcsReferenceFileWithRelayMode": {
            "type": "boolean",
            "example": false
          },
          "gcsUploadNamespace": {
            "type": "string",
            "example": "GCS_UPLOAD_NAMESPACE"
          },
          "gcsUseOnlyEnvVars": {
            "type": "boolean",
            "example": false
          },
          "globalLang": {
            "type": "string",
            "example": "ja_JP"
          },
          "isAppSiteUrlHashed": {
            "type": "boolean",
            "example": false
          },
          "isEmailPublishedForNewUser": {
            "type": "boolean",
            "example": true
          },
          "isMaintenanceMode": {
            "type": "boolean",
            "example": false
          },
          "isQuestionnaireEnabled": {
            "type": "boolean",
            "example": true
          },
          "isV5Compatible": {
            "type": "boolean",
            "example": true
          },
          "s3AccessKeyId": {
            "type": "string"
          },
          "s3Bucket": {
            "type": "string"
          },
          "s3CustomEndpoint": {
            "type": "string"
          },
          "s3ReferenceFileWithRelayMode": {
            "type": "boolean"
          },
          "s3Region": {
            "type": "string"
          },
          "siteUrl": {
            "type": "string"
          },
          "siteUrlUseOnlyEnvVars": {
            "type": "boolean"
          },
          "smtpHost": {
            "type": "string"
          },
          "smtpPassword": {
            "type": "string"
          },
          "smtpPort": {
            "type": "string"
          },
          "smtpUser": {
            "type": "string"
          },
          "useOnlyEnvVarForFileUploadType": {
            "type": "boolean"
          }
        }
      },
      "AppSettingPutParams": {
        "description": "AppSettingPutParams",
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "title of the site",
            "example": "GROWI"
          },
          "confidential": {
            "type": "string",
            "description": "confidential show on page header",
            "example": "GROWI"
          },
          "globalLang": {
            "type": "string",
            "description": "global language",
            "example": "ja_JP"
          },
          "isEmailPublishedForNewUser": {
            "type": "boolean",
            "description": "is email published for new user, or not",
            "example": true
          },
          "fileUpload": {
            "type": "boolean",
            "description": "is file upload enabled, or not",
            "example": true
          }
        }
      },
      "SiteUrlSettingParams": {
        "description": "SiteUrlSettingParams",
        "type": "object",
        "properties": {
          "siteUrl": {
            "type": "string",
            "description": "Site URL. e.g. https://example.com, https://example.com:8080"
          },
          "envSiteUrl": {
            "type": "string",
            "description": "environment variable 'APP_SITE_URL'"
          }
        }
      },
      "SmtpSettingParams": {
        "description": "SmtpSettingParams",
        "type": "object",
        "properties": {
          "smtpHost": {
            "type": "string",
            "description": "host name of client's smtp server",
            "example": "smtp.example.com"
          },
          "smtpPort": {
            "type": "string",
            "description": "port of client's smtp server",
            "example": "587"
          },
          "smtpUser": {
            "type": "string",
            "description": "user name of client's smtp server",
            "example": "USER"
          },
          "smtpPassword": {
            "type": "string",
            "description": "password of client's smtp server",
            "example": "PASSWORD"
          },
          "fromAddress": {
            "type": "string",
            "description": "e-mail address",
            "example": "info@example.com"
          }
        }
      },
      "SmtpSettingResponseParams": {
        "description": "SmtpSettingResponseParams",
        "type": "object",
        "properties": {
          "isMailerSetup": {
            "type": "boolean",
            "description": "is mailer setup, or not",
            "example": true
          },
          "smtpHost": {
            "type": "string",
            "description": "host name of client's smtp server",
            "example": "smtp.example.com"
          },
          "smtpPort": {
            "type": "string",
            "description": "port of client's smtp server",
            "example": "587"
          },
          "smtpUser": {
            "type": "string",
            "description": "user name of client's smtp server",
            "example": "USER"
          },
          "smtpPassword": {
            "type": "string",
            "description": "password of client's smtp server",
            "example": "PASSWORD"
          },
          "fromAddress": {
            "type": "string",
            "description": "e-mail address",
            "example": "info@example.com"
          }
        }
      },
      "SesSettingParams": {
        "description": "SesSettingParams",
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "e-mail address used as from address of mail which sent from GROWI app",
            "example": "info@growi.org"
          },
          "transmissionMethod": {
            "type": "string",
            "description": "transmission method",
            "example": "ses"
          },
          "sesAccessKeyId": {
            "type": "string",
            "description": "accesskey id for authentification of AWS"
          },
          "sesSecretAccessKey": {
            "type": "string",
            "description": "secret key for authentification of AWS"
          }
        }
      },
      "SesSettingResponseParams": {
        "description": "SesSettingParams",
        "type": "object",
        "properties": {
          "isMailerSetup": {
            "type": "boolean",
            "description": "is mailer setup, or not",
            "example": true
          },
          "from": {
            "type": "string",
            "description": "e-mail address used as from address of mail which sent from GROWI app",
            "example": "info@growi.org"
          },
          "transmissionMethod": {
            "type": "string",
            "description": "transmission method",
            "example": "ses"
          },
          "sesAccessKeyId": {
            "type": "string",
            "description": "accesskey id for authentification of AWS"
          },
          "sesSecretAccessKey": {
            "type": "string",
            "description": "secret key for authentification of AWS"
          }
        }
      },
      "FileUploadSettingParams": {
        "description": "FileUploadTypeParams",
        "type": "object",
        "properties": {
          "fileUploadType": {
            "type": "string",
            "description": "fileUploadType"
          },
          "s3Region": {
            "type": "string",
            "description": "region of AWS S3"
          },
          "s3CustomEndpoint": {
            "type": "string",
            "description": "custom endpoint of AWS S3"
          },
          "s3Bucket": {
            "type": "string",
            "description": "AWS S3 bucket name"
          },
          "s3AccessKeyId": {
            "type": "string",
            "description": "accesskey id for authentification of AWS"
          },
          "s3SecretAccessKey": {
            "type": "string",
            "description": "secret key for authentification of AWS"
          },
          "s3ReferenceFileWithRelayMode": {
            "type": "boolean",
            "description": "is enable internal stream system for s3 file request"
          },
          "gcsApiKeyJsonPath": {
            "type": "string",
            "description": "apiKeyJsonPath of gcp"
          },
          "gcsBucket": {
            "type": "string",
            "description": "bucket name of gcs"
          },
          "gcsUploadNamespace": {
            "type": "string",
            "description": "name space of gcs"
          },
          "gcsReferenceFileWithRelayMode": {
            "type": "boolean",
            "description": "is enable internal stream system for gcs file request"
          },
          "azureTenantId": {
            "type": "string",
            "description": "tenant id of azure"
          },
          "azureClientId": {
            "type": "string",
            "description": "client id of azure"
          },
          "azureClientSecret": {
            "type": "string",
            "description": "client secret of azure"
          },
          "azureStorageAccountName": {
            "type": "string",
            "description": "storage account name of azure"
          },
          "azureStorageContainerName": {
            "type": "string",
            "description": "storage container name of azure"
          },
          "azureReferenceFileWithRelayMode": {
            "type": "boolean",
            "description": "is enable internal stream system for azure file request"
          }
        }
      },
      "QuestionnaireSettingParams": {
        "description": "QuestionnaireSettingParams",
        "type": "object",
        "properties": {
          "isQuestionnaireEnabled": {
            "type": "boolean",
            "description": "is questionnaire enabled, or not",
            "example": true
          },
          "isAppSiteUrlHashed": {
            "type": "boolean",
            "description": "is app site url hashed, or not"
          }
        }
      },
      "AttachmentPaginateResult": {
        "description": "AttachmentPaginateResult",
        "type": "object",
        "properties": {
          "docs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Attachment"
            }
          },
          "totalDocs": {
            "type": "number",
            "example": 1
          },
          "limit": {
            "type": "number",
            "example": 20
          },
          "totalPages": {
            "type": "number",
            "example": 1
          },
          "page": {
            "type": "number",
            "example": 1
          },
          "offset": {
            "type": "number",
            "example": 0
          },
          "prevPage": {
            "type": "number",
            "example": null
          },
          "nextPage": {
            "type": "number",
            "example": null
          },
          "hasNextPage": {
            "type": "boolean",
            "example": false
          },
          "hasPrevPage": {
            "type": "boolean",
            "example": false
          },
          "pagingCounter": {
            "type": "number",
            "example": 1
          }
        }
      },
      "Attachment": {
        "description": "Attachment",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "attachment ID",
            "example": "5e0734e072560e001761fa67"
          },
          "_id": {
            "type": "string",
            "description": "attachment ID",
            "example": "5e0734e072560e001761fa67"
          },
          "__v": {
            "type": "number",
            "description": "attachment version",
            "example": 0
          },
          "attachmentType": {
            "type": "string",
            "description": "attachment type",
            "example": "WIKI_PAGE"
          },
          "fileFormat": {
            "type": "string",
            "description": "file format in MIME",
            "example": "text/plain"
          },
          "fileName": {
            "type": "string",
            "description": "file name",
            "example": "601b7c59d43a042c0117e08dd37aad0aimage.txt"
          },
          "originalName": {
            "type": "string",
            "description": "original file name",
            "example": "file.txt"
          },
          "creator": {
            "type": "object",
            "$ref": "#/components/schemas/User"
          },
          "page": {
            "type": "string",
            "description": "page ID attached at",
            "example": "5e07345972560e001761fa63"
          },
          "createdAt": {
            "type": "string",
            "description": "date created at",
            "example": "2010-01-01T00:00:00.000Z"
          },
          "temporaryUrlExpiredAt": {
            "type": "string",
            "description": "temporary URL expired at",
            "example": "2024-11-27T00:59:59.962Z"
          },
          "fileSize": {
            "type": "number",
            "description": "file size",
            "example": 3494332
          },
          "filePathProxied": {
            "type": "string",
            "description": "file path proxied",
            "example": "/attachment/5e0734e072560e001761fa67"
          },
          "downloadPathProxied": {
            "type": "string",
            "description": "download path proxied",
            "example": "/download/5e0734e072560e001761fa67"
          },
          "temporaryUrlCached": {
            "type": "string",
            "description": "temporary URL cached",
            "example": "https://example.com/attachment/5e0734e072560e001761fa67"
          }
        }
      },
      "BookmarkFolder": {
        "description": "Bookmark Folder",
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "Bookmark Folder ID"
          },
          "__v": {
            "type": "number",
            "description": "Version of the bookmark folder"
          },
          "name": {
            "type": "string",
            "description": "Name of the bookmark folder"
          },
          "owner": {
            "type": "string",
            "description": "Owner user ID of the bookmark folder"
          },
          "bookmarks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string",
                  "description": "Bookmark ID"
                },
                "user": {
                  "type": "string",
                  "description": "User ID of the bookmarker"
                },
                "createdAt": {
                  "type": "string",
                  "description": "Date and time when the bookmark was created"
                },
                "__v": {
                  "type": "number",
                  "description": "Version of the bookmark"
                },
                "page": {
                  "description": "Pages that are bookmarked in the folder",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Page"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Page ID",
                          "example": "671b5cd38d45e62b52217ff8"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Parent page ID",
                          "example": "669a5aa48d45e62b521d00da"
                        },
                        "descendantCount": {
                          "type": "number",
                          "description": "Number of descendants",
                          "example": 0
                        },
                        "isEmpty": {
                          "type": "boolean",
                          "description": "Whether the page is empty",
                          "example": false
                        },
                        "grantedGroups": {
                          "type": "array",
                          "description": "List of granted groups",
                          "items": {
                            "type": "string"
                          }
                        },
                        "creator": {
                          "type": "string",
                          "description": "Creator user ID",
                          "example": "669a5aa48d45e62b521d00e4"
                        },
                        "latestRevisionBodyLength": {
                          "type": "number",
                          "description": "Length of the latest revision body",
                          "example": 241
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "childFolder": {
            "type": "array",
            "items": {
              "type": "object",
              "$ref": "#/components/schemas/BookmarkFolder"
            }
          }
        }
      },
      "Bookmark": {
        "description": "Bookmark",
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "page ID",
            "example": "5e07345972560e001761fa63"
          },
          "__v": {
            "type": "number",
            "description": "DB record version",
            "example": 0
          },
          "createdAt": {
            "type": "string",
            "description": "date created at",
            "example": "2010-01-01T00:00:00.000Z"
          },
          "page": {
            "$ref": "#/components/schemas/Page"
          },
          "user": {
            "$ref": "#/components/schemas/User/properties/_id"
          }
        }
      },
      "Bookmarks": {
        "description": "User Root Bookmarks",
        "type": "object",
        "properties": {
          "userRootBookmarks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Bookmark"
            }
          }
        }
      },
      "BookmarkParams": {
        "description": "BookmarkParams",
        "type": "object",
        "properties": {
          "pageId": {
            "type": "string",
            "description": "page ID",
            "example": "5e07345972560e001761fa63"
          },
          "bool": {
            "type": "boolean",
            "description": "boolean for bookmark status"
          }
        }
      },
      "BookmarkInfo": {
        "description": "BookmarkInfo",
        "type": "object",
        "properties": {
          "sumOfBookmarks": {
            "type": "number",
            "description": "how many people bookmarked the page"
          },
          "isBookmarked": {
            "type": "boolean",
            "description": "Whether the request user bookmarked (will be returned if the user is included in the request)"
          },
          "pageId": {
            "type": "string",
            "description": "page ID",
            "example": "5e07345972560e001761fa63"
          },
          "bookmarkedUsers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          }
        }
      },
      "CustomizeLayout": {
        "description": "CustomizeLayout",
        "type": "object",
        "properties": {
          "isContainerFluid": {
            "type": "boolean"
          }
        }
      },
      "CustomizeTheme": {
        "description": "CustomizeTheme",
        "type": "object",
        "properties": {
          "theme": {
            "type": "string"
          }
        }
      },
      "CustomizeFunction": {
        "description": "CustomizeFunction",
        "type": "object",
        "properties": {
          "isEnabledTimeline": {
            "type": "boolean"
          },
          "isEnabledAttachTitleHeader": {
            "type": "boolean"
          },
          "pageLimitationS": {
            "type": "number"
          },
          "pageLimitationM": {
            "type": "number"
          },
          "isEnabledStaleNotification": {
            "type": "boolean"
          },
          "isAllReplyShown": {
            "type": "boolean"
          },
          "isSearchScopeChildrenAsDefault": {
            "type": "boolean"
          }
        }
      },
      "CustomizeHighlight": {
        "description": "CustomizeHighlight",
        "type": "object",
        "properties": {
          "highlightJsStyle": {
            "type": "string"
          },
          "highlightJsStyleBorder": {
            "type": "boolean"
          }
        }
      },
      "CustomizeHighlightResponse": {
        "description": "CustomizeHighlight Response",
        "type": "object",
        "properties": {
          "styleName": {
            "type": "string"
          },
          "styleBorder": {
            "type": "boolean"
          }
        }
      },
      "CustomizeTitle": {
        "description": "CustomizeTitle",
        "type": "object",
        "properties": {
          "customizeTitle": {
            "type": "string"
          }
        }
      },
      "CustomizeNoscript": {
        "description": "CustomizeNoscript",
        "type": "object",
        "properties": {
          "customizeNoscript": {
            "type": "string"
          }
        }
      },
      "CustomizeCss": {
        "description": "CustomizeCss",
        "type": "object",
        "properties": {
          "customizeCss": {
            "type": "string"
          }
        }
      },
      "CustomizeScript": {
        "description": "CustomizeScript",
        "type": "object",
        "properties": {
          "customizeScript": {
            "type": "string"
          }
        }
      },
      "CustomizeSetting": {
        "description": "Customize Setting",
        "type": "object",
        "properties": {
          "isEnabledTimeline": {
            "type": "boolean"
          },
          "isEnabledAttachTitleHeader": {
            "type": "boolean"
          },
          "pageLimitationS": {
            "type": "number"
          },
          "pageLimitationM": {
            "type": "number"
          },
          "pageLimitationL": {
            "type": "number"
          },
          "pageLimitationXL": {
            "type": "number"
          },
          "isEnabledStaleNotification": {
            "type": "boolean"
          },
          "isAllReplyShown": {
            "type": "boolean"
          },
          "isSearchScopeChildrenAsDefault": {
            "type": "boolean"
          },
          "isEnabledMarp": {
            "type": "boolean"
          },
          "styleName": {
            "type": "string"
          },
          "styleBorder": {
            "type": "string"
          },
          "customizeTitle": {
            "type": "string"
          },
          "customizeScript": {
            "type": "string"
          },
          "customizeCss": {
            "type": "string"
          },
          "customizeNoscript": {
            "type": "string"
          }
        }
      },
      "ThemesMetadata": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the plugin theme."
          },
          "manifestKey": {
            "type": "string",
            "description": "Path to the theme manifest file."
          },
          "schemeType": {
            "type": "string",
            "description": "The color scheme type (e.g., light or dark)."
          },
          "lightBg": {
            "type": "string",
            "description": "Light mode background color (hex)."
          },
          "darkBg": {
            "type": "string",
            "description": "Dark mode background color (hex)."
          },
          "lightSidebar": {
            "type": "string",
            "description": "Light mode sidebar color (hex)."
          },
          "darkSidebar": {
            "type": "string",
            "description": "Dark mode sidebar color (hex)."
          },
          "lightIcon": {
            "type": "string",
            "description": "Light mode icon color (hex)."
          },
          "darkIcon": {
            "type": "string",
            "description": "Dark mode icon color (hex)."
          },
          "createBtn": {
            "type": "string",
            "description": "Color of the create button (hex)."
          }
        }
      },
      "CustomizeSidebar": {
        "description": "Customize Sidebar",
        "type": "object",
        "properties": {
          "isSidebarCollapsedMode": {
            "type": "boolean",
            "description": "The flag whether sidebar is collapsed mode or not."
          },
          "isSidebarClosedAtDockMode": {
            "type": "boolean",
            "description": "The flag whether sidebar is closed at dock mode or not."
          }
        }
      },
      "CustomizePresentation": {
        "description": "Customize Presentation",
        "type": "object",
        "properties": {
          "isEnabledMarp": {
            "type": "boolean",
            "description": "The flag whether Marp is enabled or not."
          }
        }
      },
      "CustomizeLogo": {
        "description": "Customize Logo",
        "type": "object",
        "properties": {
          "isDefaultLogo": {
            "type": "boolean",
            "description": "The flag whether the logo is default or not."
          }
        }
      },
      "ExportStatus": {
        "type": "object",
        "properties": {
          "zipFileStats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExportZipFileStat"
            }
          },
          "isExporting": {
            "type": "boolean"
          },
          "progressList": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ExportZipFileStat": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/ExportMeta"
          },
          "fileName": {
            "type": "string"
          },
          "zipFilePath": {
            "type": "string"
          },
          "fileStat": {
            "$ref": "#/components/schemas/ExportFileStat"
          },
          "innerFileStats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExportInnerFileStat"
            }
          }
        }
      },
      "ExportMeta": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "passwordSeed": {
            "type": "string"
          },
          "exportedAt": {
            "type": "string",
            "format": "date-time"
          },
          "envVars": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "ExportFileStat": {
        "type": "object",
        "properties": {
          "dev": {
            "type": "integer"
          },
          "mode": {
            "type": "integer"
          },
          "nlink": {
            "type": "integer"
          },
          "uid": {
            "type": "integer"
          },
          "gid": {
            "type": "integer"
          },
          "rdev": {
            "type": "integer"
          },
          "blksize": {
            "type": "integer"
          },
          "ino": {
            "type": "integer"
          },
          "size": {
            "type": "integer"
          },
          "blocks": {
            "type": "integer"
          },
          "atime": {
            "type": "string",
            "format": "date-time"
          },
          "mtime": {
            "type": "string",
            "format": "date-time"
          },
          "ctime": {
            "type": "string",
            "format": "date-time"
          },
          "birthtime": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ExportInnerFileStat": {
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string"
          },
          "collectionName": {
            "type": "string"
          },
          "meta": {
            "type": "object",
            "properties": {
              "progressList": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "progress data for each exporting collections"
                }
              },
              "isExporting": {
                "type": "boolean",
                "description": "whether the current exporting job exists or not"
              }
            }
          }
        }
      },
      "PasswordResetRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          }
        }
      },
      "PasswordResetResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        }
      },
      "GrowiInfo": {
        "type": "object",
        "properties": {
          "version": {
            "type": "string",
            "description": "The version of the GROWI"
          },
          "userUpperLimit": {
            "type": "number",
            "description": "The upper limit of the number of users"
          },
          "fileUploadDisabled": {
            "type": "boolean"
          },
          "fileUploadTotalLimit": {
            "type": "number",
            "description": "The total limit of the file upload size"
          },
          "attachmentInfo": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "writable": {
                "type": "boolean"
              },
              "bucket": {
                "type": "string"
              },
              "customEndpoint": {
                "type": "string"
              },
              "uploadNamespace": {
                "type": "string"
              },
              "accountName": {
                "type": "string"
              },
              "containerName": {
                "type": "string"
              }
            }
          }
        }
      },
      "HealthcheckInfo": {
        "description": "Information of middlewares",
        "type": "object",
        "properties": {
          "mongo": {
            "type": "string",
            "description": "OK",
            "example": "OK"
          },
          "searchInfo": {
            "type": "object",
            "properties": {
              "cluster_name": {
                "type": "string",
                "example": "elasticsearch"
              },
              "status": {
                "type": "string",
                "enum": [
                  "green",
                  "yellow",
                  "red"
                ],
                "example": "yellow"
              },
              "timed_out": {
                "type": "boolean",
                "example": false
              },
              "number_of_nodes": {
                "type": "integer",
                "example": 1
              },
              "number_of_data_nodes": {
                "type": "integer",
                "example": 1
              },
              "active_primary_shards": {
                "type": "integer",
                "example": 2
              },
              "active_shards": {
                "type": "integer",
                "example": 2
              },
              "relocating_shards": {
                "type": "integer",
                "example": 0
              },
              "initializing_shards": {
                "type": "integer",
                "example": 0
              },
              "unassigned_shards": {
                "type": "integer",
                "example": 1
              },
              "delayed_unassigned_shards": {
                "type": "integer",
                "example": 0
              },
              "number_of_pending_tasks": {
                "type": "integer",
                "example": 0
              },
              "number_of_in_flight_fetch": {
                "type": "integer",
                "example": 0
              },
              "task_max_waiting_in_queue_millis": {
                "type": "integer",
                "example": 0
              },
              "active_shards_percent_as_number": {
                "type": "number",
                "format": "float",
                "example": 66.66666666666666
              }
            }
          }
        }
      },
      "GrowiArchiveImportOption": {
        "description": "GrowiArchiveImportOption",
        "type": "object",
        "properties": {
          "mode": {
            "description": "Import mode",
            "type": "string",
            "enum": [
              "insert",
              "upsert",
              "flushAndInsert"
            ]
          }
        }
      },
      "ImportStatus": {
        "description": "ImportStatus",
        "type": "object",
        "properties": {
          "isTheSameVersion": {
            "type": "boolean",
            "description": "whether the version of the uploaded data is the same as the current GROWI version"
          },
          "zipFileStat": {
            "type": "object",
            "description": "the property object"
          },
          "progressList": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "progress data for each exporting collections"
            }
          },
          "isImporting": {
            "type": "boolean",
            "description": "whether the current importing job exists or not"
          }
        }
      },
      "FileImportResponse": {
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "version": {
                "type": "string"
              },
              "url": {
                "type": "string"
              },
              "passwordSeed": {
                "type": "string"
              },
              "exportedAt": {
                "type": "string",
                "format": "date-time"
              },
              "envVars": {
                "type": "object",
                "properties": {
                  "ELASTICSEARCH_URI": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "fileName": {
            "type": "string"
          },
          "zipFilePath": {
            "type": "string"
          },
          "fileStat": {
            "type": "object",
            "properties": {
              "dev": {
                "type": "integer"
              },
              "mode": {
                "type": "integer"
              },
              "nlink": {
                "type": "integer"
              },
              "uid": {
                "type": "integer"
              },
              "gid": {
                "type": "integer"
              },
              "rdev": {
                "type": "integer"
              },
              "blksize": {
                "type": "integer"
              },
              "ino": {
                "type": "integer"
              },
              "size": {
                "type": "integer"
              },
              "blocks": {
                "type": "integer"
              },
              "atime": {
                "type": "string",
                "format": "date-time"
              },
              "mtime": {
                "type": "string",
                "format": "date-time"
              },
              "ctime": {
                "type": "string",
                "format": "date-time"
              },
              "birthtime": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "innerFileStats": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "fileName": {
                  "type": "string"
                },
                "collectionName": {
                  "type": "string"
                },
                "size": {
                  "type": "integer",
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "InAppNotificationListResponse": {
        "type": "object",
        "properties": {
          "docs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InAppNotificationDocument"
            }
          },
          "totalDocs": {
            "type": "integer",
            "description": "Total number of in app notification documents"
          },
          "offset": {
            "type": "integer",
            "description": "Offset value"
          },
          "limit": {
            "type": "integer",
            "description": "Limit per page"
          },
          "totalPages": {
            "type": "integer",
            "description": "Total pages available"
          },
          "page": {
            "type": "integer",
            "description": "Current page number"
          },
          "hasPrevPage": {
            "type": "boolean",
            "description": "Indicator for previous page"
          },
          "hasNextPage": {
            "type": "boolean",
            "description": "Indicator for next page"
          },
          "prevPage": {
            "type": "string",
            "description": "Previous page number or null"
          },
          "nextPage": {
            "type": "string",
            "description": "Next page number or null"
          }
        }
      },
      "InAppNotificationDocument": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "In app notification document ID"
          },
          "action": {
            "type": "string",
            "description": "Action performed on the in app notification document"
          },
          "snapshot": {
            "type": "string",
            "description": "Snapshot details in JSON format"
          },
          "target": {
            "$ref": "#/components/schemas/Page"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          },
          "status": {
            "type": "string",
            "description": "Status of the in app notification document"
          },
          "targetModel": {
            "type": "string",
            "description": "Model of the target"
          },
          "id": {
            "type": "string",
            "description": "In app notification document ID"
          },
          "actionUsers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          }
        }
      },
      "MarkdownParams": {
        "description": "MarkdownParams",
        "type": "object",
        "properties": {
          "isEnabledLinebreaks": {
            "type": "boolean",
            "description": "enable lineBreak"
          },
          "isEnabledLinebreaksInComments": {
            "type": "boolean",
            "description": "enable lineBreak in comment"
          },
          "adminPreferredIndentSize": {
            "type": "number",
            "description": "preferred indent size"
          },
          "isIndentSizeForced": {
            "type": "boolean",
            "description": "force indent size"
          },
          "isEnabledXss": {
            "type": "boolean",
            "description": "enable xss"
          },
          "xssOption": {
            "type": "number",
            "description": "number of xss option"
          },
          "tagWhitelist": {
            "type": "array",
            "description": "array of tag whitelist",
            "items": {
              "type": "string",
              "description": "tag whitelist"
            }
          },
          "attrWhitelist": {
            "type": "string",
            "description": "attr whitelist"
          }
        }
      },
      "LineBreakParams": {
        "description": "LineBreakParams",
        "type": "object",
        "properties": {
          "isEnabledLinebreaks": {
            "type": "boolean",
            "description": "enable lineBreak"
          },
          "isEnabledLinebreaksInComments": {
            "type": "boolean",
            "description": "enable lineBreak in comment"
          }
        }
      },
      "PresentationParams": {
        "description": "PresentationParams",
        "type": "object",
        "properties": {
          "pageBreakSeparator": {
            "type": "number",
            "description": "number of pageBreakSeparator"
          },
          "pageBreakCustomSeparator": {
            "type": "string",
            "description": "string of pageBreakCustomSeparator"
          }
        }
      },
      "XssParams": {
        "description": "XssParams",
        "type": "object",
        "properties": {
          "isEnabledXss": {
            "type": "boolean",
            "description": "enable xss"
          },
          "xssOption": {
            "type": "number",
            "description": "number of xss option"
          },
          "tagWhitelist": {
            "type": "array",
            "description": "array of tag whitelist",
            "items": {
              "type": "string",
              "description": "tag whitelist"
            }
          },
          "attrWhitelist": {
            "type": "string",
            "description": "attr whitelist"
          }
        }
      },
      "IndentParams": {
        "description": "IndentParams",
        "type": "object",
        "properties": {
          "adminPreferredIndentSize": {
            "type": "number",
            "description": "preferred indent size"
          },
          "isIndentSizeForced": {
            "type": "boolean",
            "description": "force indent size"
          }
        }
      },
      "NotificationParams": {
        "type": "object",
        "properties": {
          "isSlackbotConfigured": {
            "type": "boolean",
            "description": "status of slack integration"
          },
          "isSlackLegacyConfigured": {
            "type": "boolean",
            "description": "status of slack legacy integration"
          },
          "currentBotType": {
            "type": "string",
            "description": "current bot type"
          },
          "userNotifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserNotification"
            }
          },
          "isNotificationForOwnerPageEnabled": {
            "type": "boolean",
            "description": "Whether to notify on owner page"
          },
          "isNotificationForGroupPageEnabled": {
            "type": "boolean",
            "description": "Whether to notify on group page"
          },
          "globalNotifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GlobalNotificationParams"
            },
            "description": "global notifications"
          }
        }
      },
      "UserNotification": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "description": "slack channel name without '#'"
          },
          "pathPattern": {
            "type": "string",
            "description": "path name of wiki"
          },
          "createdAt": {
            "type": "string",
            "description": "created date"
          },
          "creator": {
            "$ref": "#/components/schemas/User",
            "description": "user who set notification"
          },
          "patternPrefix": {
            "type": "string",
            "description": "path pattern prefix"
          },
          "patternPrefix2": {
            "type": "string",
            "description": "path pattern prefix2"
          },
          "provider": {
            "type": "string",
            "description": "provider"
          },
          "updatedAt": {
            "type": "string",
            "description": "updated date"
          },
          "__v": {
            "type": "number",
            "description": "version"
          },
          "_id": {
            "type": "string",
            "description": "id"
          }
        }
      },
      "UserNotificationParams": {
        "type": "object",
        "properties": {
          "pathPattern": {
            "type": "string",
            "description": "path name of wiki"
          },
          "channel": {
            "type": "string",
            "description": "slack channel name without '#'"
          }
        }
      },
      "NotifyForPageGrant": {
        "type": "object",
        "properties": {
          "isNotificationForOwnerPageEnabled": {
            "type": "boolean",
            "description": "Whether to notify on owner page"
          },
          "isNotificationForGroupPageEnabled": {
            "type": "boolean",
            "description": "Whether to notify on group page"
          }
        }
      },
      "GlobalNotification": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "id"
          },
          "isEnabled": {
            "type": "boolean",
            "description": "is notification enabled"
          },
          "triggerEvents": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "trigger events for notify"
          },
          "__t": {
            "type": "string",
            "description": "type of notification"
          },
          "slackChannels": {
            "type": "string",
            "description": "channels for notify"
          },
          "triggerPath": {
            "type": "string",
            "description": "trigger path for notify"
          },
          "__v": {
            "type": "number",
            "description": "version"
          }
        }
      },
      "GlobalNotificationParams": {
        "type": "object",
        "properties": {
          "notifyType": {
            "type": "string",
            "description": "What is type for notify"
          },
          "toEmail": {
            "type": "string",
            "description": "email for notify"
          },
          "slackChannels": {
            "type": "string",
            "description": "channels for notify"
          },
          "triggerPath": {
            "type": "string",
            "description": "trigger path for notify"
          },
          "triggerEvents": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "trigger events for notify"
          }
        }
      },
      "LikeParams": {
        "description": "LikeParams",
        "type": "object",
        "properties": {
          "pageId": {
            "type": "string",
            "description": "page ID",
            "example": "5e07345972560e001761fa63"
          },
          "bool": {
            "type": "boolean",
            "description": "boolean for like status"
          }
        }
      },
      "PageInfo": {
        "description": "PageInfo",
        "type": "object",
        "required": [
          "sumOfLikers",
          "likerIds",
          "sumOfSeenUsers",
          "seenUserIds"
        ],
        "properties": {
          "isLiked": {
            "type": "boolean",
            "description": "Whether the page is liked by the logged in user"
          },
          "sumOfLikers": {
            "type": "number",
            "description": "Number of users who have liked the page"
          },
          "likerIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Ids of users who have liked the page",
            "example": [
              "5e07345972560e001761fa63"
            ]
          },
          "sumOfSeenUsers": {
            "type": "number",
            "description": "Number of users who have seen the page"
          },
          "seenUserIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Ids of users who have seen the page",
            "example": [
              "5e07345972560e001761fa63"
            ]
          }
        }
      },
      "PageParams": {
        "description": "PageParams",
        "type": "object",
        "required": [
          "pageId"
        ],
        "properties": {
          "pageId": {
            "type": "string",
            "description": "page ID",
            "example": "5e07345972560e001761fa63"
          }
        }
      },
      "Tags": {
        "description": "Tags",
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Tag/properties/name"
        },
        "example": [
          "daily",
          "report",
          "tips"
        ]
      },
      "Tag": {
        "description": "Tag",
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "tag ID",
            "example": "5e2d6aede35da4004ef7e0b7"
          },
          "name": {
            "type": "string",
            "description": "tag name",
            "example": "daily"
          },
          "count": {
            "type": "number",
            "description": "Count of tagged pages",
            "example": 3
          }
        }
      },
      "PersonalSettings": {
        "description": "personal settings",
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "lang": {
            "type": "string"
          },
          "isEmailPublished": {
            "type": "boolean"
          },
          "slackMemberId": {
            "type": "string"
          }
        }
      },
      "Passwords": {
        "description": "passwords for update",
        "type": "object",
        "properties": {
          "oldPassword": {
            "type": "string"
          },
          "newPassword": {
            "type": "string"
          },
          "newPasswordConfirm": {
            "type": "string"
          }
        }
      },
      "AssociateUser": {
        "description": "Ldap account for associate",
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "DisassociateUser": {
        "description": "Ldap account for disassociate",
        "type": "object",
        "properties": {
          "providerType": {
            "type": "string"
          },
          "accountId": {
            "type": "string"
          }
        }
      },
      "Revision": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "revision ID",
            "example": "5e0734e472560e001761fa68"
          },
          "format": {
            "type": "string",
            "description": "format",
            "example": "markdown"
          },
          "pageId": {
            "type": "string",
            "description": "The ID of the page the revision belongs to"
          },
          "body": {
            "type": "string",
            "description": "content body",
            "example": "# test\n\ntest\n"
          },
          "author": {
            "$ref": "#/components/schemas/User/properties/_id"
          },
          "origin": {
            "type": "string",
            "description": "The origin of the revision"
          },
          "hasDiffToPrev": {
            "type": "boolean",
            "description": "Whether the revision has differences to the previous one"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "date created at",
            "example": "2010-01-01T00:00:00.000Z"
          },
          "__v": {
            "type": "number",
            "description": "DB record version",
            "example": 0
          },
          "path": {
            "type": "string",
            "description": "path",
            "example": "/user/alice/test"
          }
        },
        "description": "Revision"
      },
      "Indices": {
        "type": "object",
        "properties": {
          "growi": {
            "type": "object",
            "properties": {
              "uuid": {
                "type": "string"
              },
              "health": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "primaries": {
                "type": "object",
                "$ref": "#/components/schemas/SearchIndex"
              },
              "total": {
                "type": "object",
                "$ref": "#/components/schemas/SearchIndex"
              }
            }
          },
          "aliases": {
            "type": "object",
            "properties": {
              "growi": {
                "type": "object",
                "properties": {
                  "aliases": {
                    "type": "object",
                    "properties": {
                      "growi-alias": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "isNormalized": {
            "type": "boolean"
          }
        }
      },
      "SearchIndex": {
        "type": "object",
        "properties": {
          "docs": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "deleted": {
                "type": "integer"
              }
            }
          },
          "store": {
            "type": "object",
            "properties": {
              "size_in_bytes": {
                "type": "integer"
              },
              "total_data_set_size_in_bytes": {
                "type": "integer"
              },
              "reserved_in_bytes": {
                "type": "integer"
              }
            }
          },
          "indexing": {
            "type": "object",
            "properties": {
              "index_total": {
                "type": "integer"
              },
              "index_time_in_millis": {
                "type": "integer"
              },
              "index_current": {
                "type": "integer"
              },
              "index_failed": {
                "type": "integer"
              },
              "delete_total": {
                "type": "integer"
              },
              "delete_time_in_millis": {
                "type": "integer"
              },
              "delete_current": {
                "type": "integer"
              },
              "noop_update_total": {
                "type": "integer"
              },
              "is_throttled": {
                "type": "boolean"
              },
              "throttle_time_in_millis": {
                "type": "integer"
              },
              "write_load": {
                "type": "number"
              }
            }
          }
        }
      },
      "GeneralSetting": {
        "type": "object",
        "properties": {
          "restrictGuestMode": {
            "type": "string",
            "description": "type of restrictGuestMode"
          },
          "pageDeletionAuthority": {
            "type": "string",
            "description": "type of pageDeletionAuthority"
          },
          "pageRecursiveDeletionAuthority": {
            "type": "string",
            "description": "type of pageRecursiveDeletionAuthority"
          },
          "pageRecursiveCompleteDeletionAuthority": {
            "type": "string",
            "description": "type of pageRecursiveCompleteDeletionAuthority"
          },
          "isAllGroupMembershipRequiredForPageCompleteDeletion": {
            "type": "boolean",
            "description": "enable all group membership required for page complete deletion"
          },
          "pageCompleteDeletionAuthority": {
            "type": "string",
            "description": "type of pageDeletionAuthority"
          },
          "hideRestrictedByOwner": {
            "type": "boolean",
            "description": "enable hide by owner"
          },
          "hideRestrictedByGroup": {
            "type": "boolean",
            "description": "enable hide by group"
          },
          "isUsersHomepageDeletionEnabled": {
            "type": "boolean",
            "description": "enable user homepage deletion"
          },
          "isForceDeleteUserHomepageOnUserDeletion": {
            "type": "boolean",
            "description": "enable force delete user homepage on user deletion"
          },
          "isRomUserAllowedToComment": {
            "type": "boolean",
            "description": "enable rom user allowed to comment"
          },
          "wikiMode": {
            "type": "string",
            "description": "type of wikiMode"
          },
          "sessionMaxAge": {
            "type": "integer",
            "description": "max age of session"
          }
        }
      },
      "ShareLinkSetting": {
        "type": "object",
        "properties": {
          "disableLinkSharing": {
            "type": "boolean",
            "description": "disable link sharing"
          }
        }
      },
      "LocalSetting": {
        "type": "object",
        "properties": {
          "useOnlyEnvVarsForSomeOptions": {
            "type": "boolean",
            "description": "use only env vars for some options"
          },
          "isPasswordResetEnabled": {
            "type": "boolean",
            "description": "enable password reset"
          },
          "isEmailAuthenticationEnabled": {
            "type": "boolean",
            "description": "enable email authentication"
          },
          "isLocalEnabled": {
            "type": "boolean",
            "description": "local setting mode"
          },
          "registrationMode": {
            "type": "string",
            "description": "type of registrationMode"
          },
          "registrationWhitelist": {
            "type": "array",
            "description": "array of regsitrationList",
            "items": {
              "type": "string",
              "description": "registration whitelist"
            }
          }
        }
      },
      "GeneralAuthSetting": {
        "type": "object",
        "properties": {
          "isLocalEnabled": {
            "type": "boolean",
            "description": "local setting mode"
          },
          "isLdapEnabled": {
            "type": "boolean",
            "description": "ldap setting mode"
          },
          "isSamlEnabled": {
            "type": "boolean",
            "description": "saml setting mode"
          },
          "isOidcEnabled": {
            "type": "boolean",
            "description": "oidc setting mode"
          },
          "isGoogleEnabled": {
            "type": "boolean",
            "description": "google setting mode"
          },
          "isGitHubEnabled": {
            "type": "boolean",
            "description": "github setting mode"
          }
        }
      },
      "LdapAuthSetting": {
        "type": "object",
        "properties": {
          "serverUrl": {
            "type": "string",
            "description": "server url for ldap"
          },
          "isUserBind": {
            "type": "boolean",
            "description": "enable user bind"
          },
          "ldapBindDN": {
            "type": "string",
            "description": "the query used to bind with the directory service"
          },
          "ldapBindDNPassword": {
            "type": "string",
            "description": "the password that is entered in the login page will be used to bind"
          },
          "ldapSearchFilter": {
            "type": "string",
            "description": "the query used to locate the authenticated user"
          },
          "ldapAttrMapUsername": {
            "type": "string",
            "description": "specification of mappings for username when creating new users"
          },
          "isSameUsernameTreatedAsIdenticalUser": {
            "type": "boolean",
            "description": "local account automatically linked the user name matched"
          },
          "ldapAttrMapMail": {
            "type": "string",
            "description": "specification of mappings for mail address when creating new users"
          },
          "ldapAttrMapName": {
            "type": "string",
            "description": "Specification of mappings for full name address when creating new users"
          },
          "ldapGroupSearchBase": {
            "type": "string",
            "description": "the base DN from which to search for groups."
          },
          "ldapGroupSearchFilter": {
            "type": "string",
            "description": "the query used to filter for groups"
          },
          "ldapGroupDnProperty": {
            "type": "string",
            "description": "The property of user object to use in dn interpolation of Group Search Filter"
          }
        }
      },
      "SamlAuthSetting": {
        "type": "object",
        "properties": {
          "missingMandatoryConfigKeys": {
            "type": "array",
            "description": "array of missing mandatory config keys",
            "items": {
              "type": "string",
              "description": "missing mandatory config key"
            }
          },
          "useOnlyEnvVarsForSomeOptions": {
            "type": "boolean",
            "description": "use only env vars for some options"
          },
          "samlEntryPoint": {
            "type": "string",
            "description": "entry point for saml"
          },
          "samlIssuer": {
            "type": "string",
            "description": "issuer for saml"
          },
          "samlEnvVarIssuer": {
            "type": "string",
            "description": "issuer for saml"
          },
          "samlCert": {
            "type": "string",
            "description": "certificate for saml"
          },
          "samlEnvVarCert": {
            "type": "string",
            "description": "certificate for saml"
          },
          "samlAttrMapId": {
            "type": "string",
            "description": "attribute mapping id for saml"
          },
          "samlAttrMapUserName": {
            "type": "string",
            "description": "attribute mapping user name for saml"
          },
          "samlAttrMapMail": {
            "type": "string",
            "description": "attribute mapping mail for saml"
          },
          "samlEnvVarAttrMapId": {
            "type": "string",
            "description": "attribute mapping id for saml"
          },
          "samlEnvVarAttrMapUserName": {
            "type": "string",
            "description": "attribute mapping user name for saml"
          },
          "samlEnvVarAttrMapMail": {
            "type": "string",
            "description": "attribute mapping mail for saml"
          },
          "samlAttrMapFirstName": {
            "type": "string",
            "description": "attribute mapping first name for saml"
          },
          "samlAttrMapLastName": {
            "type": "string",
            "description": "attribute mapping last name for saml"
          },
          "samlEnvVarAttrMapFirstName": {
            "type": "string",
            "description": "attribute mapping first name for saml"
          },
          "samlEnvVarAttrMapLastName": {
            "type": "string",
            "description": "attribute mapping last name for saml"
          },
          "isSameUsernameTreatedAsIdenticalUser": {
            "type": "boolean",
            "description": "local account automatically linked the user name matched"
          },
          "isSameEmailTreatedAsIdenticalUser": {
            "type": "boolean",
            "description": "local account automatically linked the email matched"
          },
          "samlABLCRule": {
            "type": "string",
            "description": "ABLCRule for saml"
          },
          "samlEnvVarABLCRule": {
            "type": "string",
            "description": "ABLCRule for saml"
          }
        }
      },
      "OidcAuthSetting": {
        "type": "object",
        "properties": {
          "oidcProviderName": {
            "type": "string",
            "description": "provider name for oidc"
          },
          "oidcIssuerHost": {
            "type": "string",
            "description": "issuer host for oidc"
          },
          "oidcAuthorizationEndpoint": {
            "type": "string",
            "description": "authorization endpoint for oidc"
          },
          "oidcTokenEndpoint": {
            "type": "string",
            "description": "token endpoint for oidc"
          },
          "oidcRevocationEndpoint": {
            "type": "string",
            "description": "revocation endpoint for oidc"
          },
          "oidcIntrospectionEndpoint": {
            "type": "string",
            "description": "introspection endpoint for oidc"
          },
          "oidcUserInfoEndpoint": {
            "type": "string",
            "description": "userinfo endpoint for oidc"
          },
          "oidcEndSessionEndpoint": {
            "type": "string",
            "description": "end session endpoint for oidc"
          },
          "oidcRegistrationEndpoint": {
            "type": "string",
            "description": "registration endpoint for oidc"
          },
          "oidcJWKSUri": {
            "type": "string",
            "description": "JSON Web Key Set URI for oidc"
          },
          "oidcClientId": {
            "type": "string",
            "description": "client id for oidc"
          },
          "oidcClientSecret": {
            "type": "string",
            "description": "client secret for oidc"
          },
          "oidcAttrMapId": {
            "type": "string",
            "description": "attr map id for oidc"
          },
          "oidcAttrMapUserName": {
            "type": "string",
            "description": "attr map username for oidc"
          },
          "oidcAttrMapName": {
            "type": "string",
            "description": "attr map name for oidc"
          },
          "oidcAttrMapMail": {
            "type": "string",
            "description": "attr map mail for oidc"
          },
          "isSameUsernameTreatedAsIdenticalUser": {
            "type": "boolean",
            "description": "local account automatically linked the user name matched"
          },
          "isSameEmailTreatedAsIdenticalUser": {
            "type": "boolean",
            "description": "local account automatically linked the email matched"
          }
        }
      },
      "GitHubOAuthSetting": {
        "type": "object",
        "properties": {
          "githubClientId": {
            "type": "string",
            "description": "key of comsumer"
          },
          "githubClientSecret": {
            "type": "string",
            "description": "password of comsumer"
          },
          "isSameUsernameTreatedAsIdenticalUser": {
            "type": "boolean",
            "description": "local account automatically linked the email matched"
          }
        }
      },
      "GoogleOAuthSetting": {
        "type": "object",
        "properties": {
          "googleClientId": {
            "type": "string",
            "description": "key of comsumer"
          },
          "googleClientSecret": {
            "type": "string",
            "description": "password of comsumer"
          },
          "isSameUsernameTreatedAsIdenticalUser": {
            "type": "boolean",
            "description": "local account automatically linked the email matched"
          }
        }
      },
      "ShareLink": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "The unique identifier of the share link"
          },
          "relatedPage": {
            "type": "object",
            "properties": {
              "_id": {
                "type": "string",
                "description": "The unique identifier of the related page"
              },
              "path": {
                "type": "string",
                "description": "The path of the related page"
              }
            }
          },
          "expiredAt": {
            "type": "string",
            "format": "date-time",
            "description": "The expiration date of the share link"
          },
          "description": {
            "type": "string",
            "description": "The description of the share link"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The creation date of the share link"
          },
          "__v": {
            "type": "integer",
            "description": "The version key"
          }
        }
      },
      "ShareLinkSimple": {
        "type": "object",
        "properties": {
          "relatedPage": {
            "type": "string",
            "description": "The unique identifier of the related page"
          },
          "expiredAt": {
            "type": "string",
            "format": "date-time",
            "description": "The expiration date of the share link"
          },
          "description": {
            "type": "string",
            "description": "The description of the share link"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The creation date of the share link"
          },
          "__v": {
            "type": "integer",
            "description": "The version key"
          },
          "_id": {
            "type": "string",
            "description": "The unique identifier of the share link"
          }
        }
      },
      "SlackConfigurationParams": {
        "type": "object",
        "properties": {
          "webhookUrl": {
            "type": "string",
            "description": "incoming webhooks url"
          },
          "isIncomingWebhookPrioritized": {
            "type": "boolean",
            "description": "use incoming webhooks even if Slack App settings are enabled"
          },
          "slackToken": {
            "type": "string",
            "description": "OAuth access token"
          }
        }
      },
      "BotType": {
        "description": "BotType",
        "properties": {
          "currentBotType": {
            "type": "string"
          }
        }
      },
      "SlackIntegration": {
        "description": "SlackIntegration",
        "type": "object",
        "properties": {
          "currentBotType": {
            "type": "string"
          }
        }
      },
      "StatisticsUserResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "example": 1
              },
              "active": {
                "type": "object",
                "properties": {
                  "total": {
                    "type": "integer",
                    "example": 1
                  },
                  "admin": {
                    "type": "integer",
                    "example": 1
                  }
                }
              },
              "inactive": {
                "type": "object",
                "properties": {
                  "total": {
                    "type": "integer",
                    "example": 0
                  },
                  "registered": {
                    "type": "integer",
                    "example": 0
                  },
                  "suspended": {
                    "type": "integer",
                    "example": 0
                  },
                  "deleted": {
                    "type": "integer",
                    "example": 0
                  },
                  "invited": {
                    "type": "integer",
                    "example": 0
                  }
                }
              }
            }
          }
        }
      },
      "User": {
        "description": "User",
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "user ID",
            "example": "5ae5fccfc5577b0004dbd8ab"
          },
          "lang": {
            "type": "string",
            "description": "language",
            "example": "en_US"
          },
          "status": {
            "type": "integer",
            "description": "status",
            "example": 0
          },
          "admin": {
            "type": "boolean",
            "description": "whether the admin",
            "example": false
          },
          "email": {
            "type": "string",
            "description": "E-Mail address",
            "example": "alice@aaa.aaa"
          },
          "username": {
            "type": "string",
            "description": "username",
            "example": "alice"
          },
          "name": {
            "type": "string",
            "description": "full name",
            "example": "Alice"
          },
          "createdAt": {
            "type": "string",
            "description": "date created at",
            "example": "2010-01-01T00:00:00.000Z"
          },
          "imageUrlCached": {
            "type": "string",
            "description": "cached image URL",
            "example": "/images/user/5ae5fccfc5577b0004dbd8ab/profile.jpg"
          },
          "isEmailPublished": {
            "type": "boolean",
            "description": "whether the email is published",
            "example": false
          },
          "isGravatarEnabled": {
            "type": "boolean",
            "description": "whether the gravatar is enabled",
            "example": false
          },
          "isInvitationEmailSended": {
            "type": "boolean",
            "description": "whether the invitation email is sent",
            "example": false
          },
          "isQuestionnaireEnabled": {
            "type": "boolean",
            "description": "whether the questionnaire is enabled",
            "example": false
          },
          "lastLoginAt": {
            "type": "string",
            "description": "datetime last login at",
            "example": "2010-01-01T00:00:00.000Z"
          },
          "readOnly": {
            "type": "boolean",
            "description": "whether the user is read only",
            "example": false
          },
          "updatedAt": {
            "type": "string",
            "description": "datetime updated at",
            "example": "2010-01-01T00:00:00.000Z"
          },
          "__v": {
            "type": "integer",
            "description": "DB record version",
            "example": 0
          }
        }
      },
      "ErrorV3": {
        "description": "Error for APIv3",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "error message"
          },
          "code": {
            "type": "string",
            "example": "someapi-error-with-something"
          },
          "stack": {
            "type": "object"
          },
          "args": {
            "type": "object",
            "example": {
              "name": "Josh",
              "age": 20
            }
          }
        }
      },
      "Page": {
        "description": "Page",
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "description": "page ID",
            "example": "5e07345972560e001761fa63"
          },
          "__v": {
            "type": "number",
            "description": "DB record version",
            "example": 0
          },
          "commentCount": {
            "type": "number",
            "description": "count of comments",
            "example": 3
          },
          "createdAt": {
            "type": "string",
            "description": "date created at",
            "example": "2010-01-01T00:00:00.000Z"
          },
          "creator": {
            "$ref": "#/components/schemas/User"
          },
          "extended": {
            "type": "object",
            "description": "extend data",
            "example": {}
          },
          "grant": {
            "type": "number",
            "description": "grant",
            "example": 1
          },
          "grantedUsers": {
            "type": "array",
            "description": "granted users",
            "items": {
              "type": "string",
              "description": "user ID"
            },
            "example": [
              "5ae5fccfc5577b0004dbd8ab"
            ]
          },
          "lastUpdateUser": {
            "$ref": "#/components/schemas/User"
          },
          "liker": {
            "type": "array",
            "description": "granted users",
            "items": {
              "type": "string",
              "description": "user ID"
            },
            "example": []
          },
          "path": {
            "type": "string",
            "description": "page path",
            "example": "/"
          },
          "revision": {
            "type": "string",
            "description": "page revision"
          },
          "seenUsers": {
            "type": "array",
            "description": "granted users",
            "items": {
              "type": "string",
              "description": "user ID"
            },
            "example": [
              "5ae5fccfc5577b0004dbd8ab"
            ]
          },
          "status": {
            "type": "string",
            "description": "status",
            "enum": [
              "wip",
              "published",
              "deleted",
              "deprecated"
            ],
            "example": "published"
          },
          "updatedAt": {
            "type": "string",
            "description": "date updated at",
            "example": "2010-01-01T00:00:00.000Z"
          }
        }
      },
      "PaginateResult": {
        "description": "PaginateResult",
        "type": "object",
        "properties": {
          "docs": {
            "type": "array",
            "description": "Array of documents",
            "items": {
              "type": "object"
            }
          },
          "totalDocs": {
            "type": "number",
            "description": "Total number of documents in collection that match a query"
          },
          "limit": {
            "type": "number",
            "description": "Limit that was used"
          },
          "hasPrevPage": {
            "type": "number",
            "description": "Availability of prev page."
          },
          "hasNextPage": {
            "type": "number",
            "description": "Availability of next page."
          },
          "page": {
            "type": "number",
            "description": "Current page number"
          },
          "totalPages": {
            "type": "number",
            "description": "Total number of pages."
          },
          "offset": {
            "type": "number",
            "description": "Only if specified or default page/offset values were used"
          },
          "prefPage": {
            "type": "number",
            "description": "Previous page number if available or NULL"
          },
          "nextPage": {
            "type": "number",
            "description": "Next page number if available or NULL"
          },
          "pagingCounter": {
            "type": "number",
            "description": "The starting sl. number of first document."
          },
          "meta": {
            "type": "number",
            "description": "Object of pagination meta data (Default false)."
          }
        }
      },
      "V1PaginateResult": {
        "description": "Paginate result v1",
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "description": "Total number of documents in collection that match a query",
                "example": 35
              },
              "limit": {
                "type": "integer",
                "description": "Limit that was used",
                "example": 10
              },
              "offset": {
                "type": "integer",
                "description": "Only if specified or default page/offset values were used",
                "example": 20
              }
            }
          },
          "data": {
            "type": "object",
            "description": "Object of pagination meta data."
          }
        }
      },
      "V1Response": {
        "description": "Response v1",
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "description": "API is succeeded",
            "example": true
          }
        }
      }
    },
    "responses": {
      "403": {
        "description": "Forbidden"
      },
      "500": {
        "description": "Internal Server Error"
      }
    }
  },
  "x-tagGroups": [
    {
      "name": "User API",
      "tags": [
        "Attachment",
        "Bookmarks",
        "BookmarkFolders",
        "Page",
        "Pages",
        "PageListing",
        "Revisions",
        "ShareLinks",
        "Users",
        "UserUISettings",
        ""
      ]
    },
    {
      "name": "User Personal Settings API",
      "tags": [
        "GeneralSetting",
        "EditorSetting",
        "InAppNotificationSettings",
        "",
        "",
        "",
        "",
        ""
      ]
    },
    {
      "name": "System Management API",
      "tags": [
        "Home",
        "Activity",
        "AdminHome",
        "AppSettings",
        "ExternalUserGroups",
        "SecuritySetting",
        "MarkDownSetting",
        "CustomizeSetting",
        "Import",
        "Export",
        "GROWI to GROWI Transfer",
        "MongoDB",
        "NotificationSetting",
        "Plugins",
        "Questionnaire",
        "QuestionnaireSetting",
        "SlackIntegration",
        "SlackIntegrationSettings",
        "SlackIntegrationSettings (with proxy)",
        "SlackIntegrationSettings (without proxy)",
        "SlackIntegrationLegacySetting",
        "ShareLink Management",
        "Templates",
        "Staff",
        "UserGroupRelations",
        "UserGroups",
        "Users Management",
        "FullTextSearch Management",
        "Install"
      ]
    },
    {
      "name": "Public API",
      "tags": [
        "Healthcheck",
        "Statistics",
        "",
        "",
        "",
        "",
        "",
        ""
      ]
    }
  ],
  "paths": {
    "/external-user-group-relations": {
      "get": {
        "summary": "/external-user-group-relations",
        "description": "Get user group relations",
        "tags": [
          "ExternalUserGroups"
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "parameters": [
          {
            "name": "groupIds",
            "in": "query",
            "description": "The group IDs to get relations for",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "childGroupIds",
            "in": "query",
            "description": "The child group IDs to get relations for",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The user group relations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userGroupRelations": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "relationsOfChildGroups": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/external-user-groups": {
      "get": {
        "tags": [
          "ExternalUserGroups"
        ],
        "security": [
          {
            "cookieAuth": []
          }
        ],
        "operationId": "listExternalUserGroups",
        "summary": "/external-user-groups",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page number for pagination"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Offset for pagination"
          },
          {
            "name": "pagination",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to enable pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved external user groups",
            "content": {
              "application/json": {
                "schema": {
[...]
