@require '~vuepress-plugin-tabs/dist/themes/default.styl'

@import './_admin-cookbook.styl'

// markdown-it-task-lists
.contains-task-list {
  padding-left: 0;
  list-style: none;
  ul {
    padding-left: 1.2em;
  }
}

// fluid layout
.theme-container.fluid {
  .page {
    padding: 0;

    .theme-default-content {
      max-width: unset;
      padding: $navbarHeight 0 0;

      > :first-child {
        margin-top: 0;
      }
    }

    .page-edit {
      display: none;
    }
  }
}
